.jewelimg{
    height: 300px;
    width: 98.9vw;
    background-image: url('/public/assets/images/360_F_329566233_ybLfSQr0zLtDkE3a8WuboUgmzqiefRsU.jpg');
background-size: cover;
align-content: center;
}
.headjewel h1{
    color: white ;
    font-size: 60px;
    text-align: center;
    
}
.jewel-api{
    height: 530px;
    width: 300px ;
    background-color: white;
    border: none;
    padding-left: 1.5rem;
    padding-right:1.5rem;
    padding-top: 1.5rem;
    
}
.jewelrate{
    text-align: right;

    
    
}
.conjewel{
    height: 600px;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
}
.textjewel{
    justify-content: left;
}