.login{ background-color: rgb(253, 252, 252);
    
    text-align: center;
    background-image: url(C:\Users\fathi\OneDrive\Desktop\project\projectapp\public\assets\images\online-apparel-returns_FTR.jpeg);
    background-size: cover;
    height: 690px;
    padding-top: 100px;
    color: white;

    
  }
  .loghome{
    color: rgb(179, 170, 170);
    text-decoration: none;
  }
  .logreg{
    text-decoration: none;
    color: rgb(183, 176, 176);
  }