.profile{
    text-decoration: none;
    border: none;
}
.pro3{
    border: 0.5px solid black;
    height: 550px;
    width: 700px;
    text-align: left;
    padding-left: 12%;
    margin-left:25% ;
    margin-top: 5%;
}

.btnpro{
    width: 590px;
    height: 60px;
    position:absolute;
    left: 29%;
    background-color: rgb(241, 92, 92);
    border: none;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.proli{
    color: rgb(196, 190, 190);
    position: absolute;
    left: 33%;
}

