.slidemain{
    height: 800px;
    width: 98.9vw;
}
.text1{
    font-size: 30PX;
    font-weight: 400
}
.text2{
    font-size: 60px;
    
 
}
.btnsli {
background-color: rgb(13, 13, 118);
border-radius: 30px;
width: 110px;
color: white;


}
.text{
   
    position: absolute;
    left: 9%;
    top: 38%;

}